.person {
    margin-top: 90px;
    margin-bottom: 180px;
}

.person__title {
    font-size: 60px;
    text-align: center;
    margin-bottom: 120px;
    color: #2c3e50;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.person__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
}

.person__info-info-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #34495e;
}

.person__info-info-login,
.person__info-info-email,
.person__info-info-pass {
    font-size: 22px;
    color: #2980b9;
    line-height: 1.8;
}

.person__info-info-login>span,
.person__info-info-email>span,
.person__info-info-pass>span{
    color: #34495e;
    font-weight: 500;
}

.person__repass-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #34495e;
    margin-top: 50px;
}

.person__repass-repass-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 25px;
    margin: 0 auto;
}

.repass-input{
    width: 100%;
    background-color: #ecf0f1;
    padding: 14px 20px;
    color: #333;
    font-size: 18px;
    border: 1px solid #bdc3c7;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.repass-input:focus{
    border-color: #3498db;
}

.repass-btn{
    width: 100%;
    background-color: #3498db;
    font-size: 18px;
    color: #fff;
    padding: 14px 20px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 7px;
    font-weight: 700;
}

.repass-btn:hover{
    background-color: #2980b9;
}

.person__logOut {
    width: 350px;
    margin: 0 auto;
    margin-top: 80px;
}

.logout {
    width: 100%;
    background-color: #e74c3c;
    color: #fff;
    padding: 14px 20px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 7px;
}

.logout:hover{
    background-color: #c0392b;
}